  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
  }



  body {
      background-color: #ffffe8 !important;
      min-height: 100vh;
  }

  .container {
      width: 90%;
      max-width: 1200px;
      position: relative;
  }

  .dropdown {
      display: flex;
      justify-content: center;
      align-items: center;


      width: 300px;
      height: 24px;

      border-radius: 20px;
      margin: 0 auto 40px;
  }

  .carousel {
      display: flex;
      gap: 30px;
      overflow-x: auto;
      scroll-behavior: smooth;
      padding: 10px;
  }

  .carousel::-webkit-scrollbar {
      display: none;
  }

  .cards-produtos {
      padding: 5vh;
  }

  .card-produtos {
      min-width: 230px;
      height: 750px;
      background: #ffffe8;
      border-radius: 100px;
      flex-shrink: 0;
      transition: .3s;
  }


 




  


  .card-body {

      background-color: #2e2e2e;
  }



  .card-text {
      color: white;

  }






  .card-produtos:hover {
      transform: translateY(-8px);
  }

  
  

  

  

  .arrow {
      position: absolute;
      top: 55%;
      transform: translateY(-50%);
      width: 45px;
      height: 45px;
      border: none;
      border-radius: 50%;
      background: white;
      cursor: pointer;
      font-size: 22px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
      z-index: 10;
  }

  .left {
      left: -20px;
  }

  .right {
      right: -20px;
  }

 

  .largura{
    display: flex;
    width: 100%;
    height: auto;
  }