* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(46, 46, 46);
}




.frase-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 70px;
}



.campo-login {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgb(255, 255, 255);

    margin: 20px;
    padding: 50px;

    height: 70vh;
    width: 60vh;
}

.login{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    margin: 30px;
}

h1{
    color:rgb(252, 227, 115) ;
    padding: 5px;
    margin: 10px;
}


p{
    color: rgb(186,142,35);
    padding: 2px;
}

input{
    border: none;             
    outline: none;             
    border-bottom: 1px solid #000000; 
    padding: 8px 0;            
    width: 100%;               
    background: transparent;
    margin: 5px;

}


form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    
}



.botao{
    background-color: rgb(252, 227, 115);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.555);

    padding: 20px;
    width: 300px;
    border: none;
    border-radius: 10px;

    margin-top: 30px;

    
}