<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastrar</title>

    <!-- LINK CSS -->
    <link rel="stylesheet" href="/static/css/cadastrar.css">
</head>


<body>


    <section class="campo-login">
        <div class="frase-inicial">
            <h1>Bem-vindo(a)!</h1>
            <h3>É novo aqui? Faça seu cadastro!</h3>
        </div>

        <form action="/cadastrar" method="post">

            <p>Nome completo:</p>
            <input id="nome" name="nome" type="text"><br>

            <p> E-mail:</p>
            <input id="usuario" name="usuario" type="text">

            <p>Telefone:</p>
            <input id="telefone" name="telefone" type="tel"><br>

            <p>Endereço:</p>
            <input id="endereco" name="endereco" type="text"><br>

            <p>Senha:</p>
            <input id="senha" name="senha" type="password"><br>


            <button type="submit">Entrar</button>

        </form>

    </section>

</body>

</html>