{% extends 'layout.html' %}
{% block content %}

<!-- CSS LINK -->
<link rel="stylesheet" href="/static/css/index.css">

<!-- BOOTSTRAP LINK -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<section class="carrosel-imagens-exemplo container-fluid my-5">
    <div class="row justify-content-center" style="background-color: rgb(218, 218, 218);">
        <div class="col-12 col-md-10">

            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="https://images.pexels.com/photos/29080968/pexels-photo-29080968.jpeg" class="d-block w-100" alt="joia 01 - exemplo"
                            style="height: 700px; object-fit: cover;">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src=" https://images.pexels.com/photos/13787988/pexels-photo-13787988.jpeg" class="d-block w-100" alt="joia 02 - exemplo"
                            style="height: 700px; object-fit: cover;">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="https://images.pexels.com/photos/36845933/pexels-photo-36845933.jpeg" class="d-block w-100" alt="joia 03 - exemplo"
                            style="height: 700px; object-fit: cover;">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
</section>



<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

<div class="text">
    <h2 class="navbar-brand fonte-bodoni d-inline-flex align-items-center" href="#" style="color: rgb(0, 0, 0); margin-right: 0; font-size: xx-large;">Explore o universo Soleil Noir</h2>
</div>


<!-- ----------------------------------------------------------------- DROPDOWN  -------------------------------------------------------------------------------------------------->
<section class="cards-produtos">
    <div class="container">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Selecionar Categoria
            </button>
            <ul class="dropdown-menu">
                
                <li><a class="dropdown-item" href="#aneis" data-filtro="aneis">Anéis</a></li>
                <li><a class="dropdown-item" href="#colares" data-filtro="colares">Colares</a></li>
                <li><a class="dropdown-item" href="#brincos" data-filtro="brincos">Brincos</a></li>
                <li><a class="dropdown-item" href="#pulseiras" data-filtro="pulseiras">Pulseira</a></li>
            </ul>
        </div>

        <button class="arrow left" onclick="scrollLeftCards()">
            ←
        </button>

<!-- ----------------------------------------------------------------- CARDS --------------------------------------------------------------------------------------------------- -->

        <div class="carousel" id="carousel">


<!--                                                                         ANEIS                                                                                                 -->
            

<!-- Anel 1 -->
            <div id="aneis" class="card-produtos" data-categoria="aneis">
               <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/23440790/pexels-photo-23440790.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Anel</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                

            </div>

<!-- Anel 2 -->
            <div id="aneis" class="card-produtos" data-categoria="aneis">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/2732096/pexels-photo-2732096.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Anel</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Comprar</a>
                    </div>
                </div>

            </div>

<!-- Anel 3 -->
            <div id="aneis" class="card-produtos" data-categoria="aneis">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/19525059/pexels-photo-19525059.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Anel</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Comprar</a>
                    </div>
                </div>

            </div>

<!-- Anel 4 -->

            <div id="aneis" class="card-produtos" data-categoria="aneis">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/15351782/pexels-photo-15351782.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Anel</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Comprar</a>
                    </div>
                </div>

            </div>

<!--                                                                COLAR                                                                                                  -->
<!-- Anel 5 -->

            <div id="aneis" class="card-produtos" data-categoria="aneis">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/19764335/pexels-photo-19764335.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Anel</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Comprar</a>
                    </div>
                </div>

            </div>

<!--                                                                COLAR                                                                                                  -->



<!-- Colar 1 -->
            <div id="colares" class="card-produtos" data-categoria="colares">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/13292930/pexels-photo-13292930.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Colar</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Comprar</a>
                    </div>
                </div>

            </div>

<!-- Colar 2 -->
            <div id="colares" class="card-produtos" data-categoria="colares">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/13292426/pexels-photo-13292426.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Colar</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Comprar</a>
                    </div>
                </div>

            </div>

<!-- Colar 3 -->
            <div id="colares" class="card-produtos" data-categoria="colares">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/20518711/pexels-photo-20518711.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Colar</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Comprar</a>
                    </div>
                </div>

            </div>


<!-- Colar 4 -->
            <div id="colares" class="card-produtos" data-categoria="colares">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/10356136/pexels-photo-10356136.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Colar</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Comprar</a>
                    </div>
                </div>

            </div>

<!-- Colar 5 -->
            <div id="colares" class="card-produtos" data-categoria="colares">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/33461100/pexels-photo-33461100.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Colar</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Comprar</a>
                    </div>
                </div>

            </div>

<!--                                                            BRINCOS                                                                                                     -->


<!-- Brinco 1 -->
            <div id="brincos" class="card-produtos" data-categoria="brincos">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/34372575/pexels-photo-34372575.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Brinco</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
                
            </div>



<!-- Brinco 2 -->
            <div id="brincos" class="card-produtos" data-categoria="brincos">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/34372576/pexels-photo-34372576.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Brinco</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>


<!-- Brinco 3 -->
            <div id="brincos" class="card-produtos" data-categoria="brincos">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/34372554/pexels-photo-34372554.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Brinco</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>



<!-- Brinco 4 -->
            <div id="brincos" class="card-produtos" data-categoria="brincos">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/34372559/pexels-photo-34372559.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Brinco</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

<!--                                                                     PULSEIRAS                                                                                        -->



<!-- Pulseira 1 -->
            </div>
            <div id="pulseiras" class="card-produtos" data-categoria="pulseiras">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/34399115/pexels-photo-34399115.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Pulseira</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>


<!-- Pulseira 2 -->
            <div id="pulseiras" class="card-produtos" data-categoria="pulseiras">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/34399156/pexels-photo-34399156.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Pulseira</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

<!-- Pulseira 3 -->
            <div id="pulseiras" class="card-produtos" data-categoria="pulseiras">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/34399141/pexels-photo-34399141.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Pulseira</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

<!-- Pulseira 4 -->
            <div id="pulseiras" class="card-produtos" data-categoria="pulseiras">
                <div class="card" style="width: 19rem;">
                    <img src="https://images.pexels.com/photos/34399114/pexels-photo-34399114.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-text">Pulseira</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="/produto" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>




        </div>


        <button class="arrow right" onclick="scrollRightCards()">
            →
        </button>

    </div>
    <script src="/static/script/script.js">

    </script>



</section>





{% endblock %}