<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soleil Noir</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/layout.css">


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

        
    .fonte-bodno{
    font-family: "Playfair Display", serif;
}
    </style>


    {% block style %}
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100" style="background-color: rgb(240, 252, 202);">

    <header class="header-flutuante">
            <div class="container-fluid d-flex flex-column align-items-center position-relative">
                <a class="logo navbar-brand fonte-bodoni d-inline-flex align-items-center" href="#"
                    style="color: white; margin-right: 0;">
                    <!-- <img src="/static/img/logo-correta.png" alt="Logo" width="40" height="40"
                        style="border-radius: 50%;" class="me-2"> -->
                    Soleil Noir
                </a>

                <div class="text-efeito" style="color: white; margin-top: 10px;">
                    <p class="navbar-brand fonte-bodoni text-center m-0"
                        style="color: white !important; font-size: 1.25rem;">
                    </p>
                </div>

                <a href="/login" class="botao-login position-absolute end-0 top-50 translate-middle-y me-3">
                    <i class="fa-solid fa-user fa-2xs" style="color: rgb(255, 255, 255); font-size: 25px;"></i>
                </a>


            </div>





        </nav>
    </header>




    {% block content %}
    {% endblock %}
    <!-- Footer Simples Soleil Noir -->
    <footer class="mt-auto py-4"
        style="background-color: rgb(95, 95, 95); border-top: 1px solid rgba(255,255,255,0.1);">
        <div class="container text-center">
            <!-- Nome da marca com a sua fonte Bodoni -->
            <h5 class="fonte-bodoni mb-2" style="color: white; letter-spacing: 2px;">SOLEIL NOIR</h5>

            <!-- Direitos Autorais -->
            <p class="m-0 text-muted" style="font-size: 0.85rem; color: rgb(200, 200, 200) !important;">
                &copy; 2026 Todos os direitos reservados.
            </p>
        </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>