<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>

    <!-- LINK CSS -->
    <link rel="stylesheet" href="/static/css/produto.css">


    <!-- LNK BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>


<body>
    <section class="todas-secoes">

        <!-- OBS: FAZER O JINJA QUANDO O BANCO DE DADOS ESTIVER PRONTO -->
        {% for produtos in produtos %}
        <section class="imagem-produto-esp">
            <div class="imagem-produto">
                <img src="/static/img/brinco-fundo-azul.jpg" alt="Foto do produto">
            </div>
        </section>



        <section class="informacoes-produto">
            <div class="produto-desc">
                <h1>Nome</h1>
                <p>Breve descrição - 2 linhas no maximo</p>
                <div class="botao-comprar"> <button> Comprar</button> </div>

            </div>
        </section>
    
        {% endfor %}



        <section class="comentarios-produto">
           <form action="/comentarios/comentar" method="POST">
             <h2>Envie um comentário!</h2>
             <label>Oque acha do produto?</label>
             <input type="text" name="nome_completo" placeholder="seu nome" required>
             <input name="comentario" placeholder="Escreva aqui"></input>
             <button type="submit">Enviar</button>
           </form>
        </section>

           <section class="comentario-container">
            
            <h2 class="comentario-title">Comentarios da Comunidade</h2>
            {%for comentarios in comentario%}
            
            <div class="comentario-card">
                <div class="comentario-topo">
            <form action="/comentarios/comentar" method="POST">
                <h2>Envie um comentário!</h2>
                <label>Oque acha do produto?</label>
                <input name="comentario" placeholder="Escreva aqui"></input>
            </form>
        </section>

        <section>
            <h2>Comentarios da Comunidade</h2>
            {%for comentario in comentario%}
            <div>
                <div>
                    <h3>@ {{comentario.nome_completo}}</h3>

                </div>

                <p>
                    {{comentario.comentario}}
                </p>
            </div>
            {%endfor%}
        </section>
    </section>


</body>

</html>